body {
  background-image: url(https://media.blogto.com/articles/20180131-2048-TheDrakeHotel35.jpg?cmd=resize_then_crop&quality=70&w=2048&height=1365);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

.established{
  font-style: italic;
}

h1,
h2,
p {
  text-align: center;
}

.menu {
  width: 80%;
  max-width: 500px;
  background-color: peru;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
h1, h2{
  font-family: Impact, serif;
}

.item p {
  display: inline-block;
}

.flavor,
.dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%
}

hr{
  height: 3px;
  background-color: brown;
  
}